*{
    font-weight: 100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(19, 18, 18);
    font-family: serif;
    text-transform: capitalize;
   
}
header{
    height: 120px;
    background-color: rgba(4, 4, 4, 0.772);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 header  img{
     
     height: 100%;
     width: auto;
}
header a{
    color:#26df05 ;
    text-decoration: none;
    padding: 0px 30px;
    font-size: 18px;
}
header a:hover{
    color: #127102;
}
header input{ 
    background-color: rgb(199, 204, 200);
   width: 300px;
}
.buscar input{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}

header i{
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
    color: #185703;
    font-size: 20px;
}
.nave{
    background-color:  rgba(11, 10, 10, 0.412);
    height: 60px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nave a{
    color:#26df05 ;
    text-decoration: none;
    padding: 0px 30px;
    font-size:20px ;
    
}
.nave a:hover{
    color: #127102;
    
}
.banner img{
    width: 100%;
}
.cont-dest, .cont-nove{
    margin: 8px 12px;
    background-color: rgb(0, 28, 7);
    display: flex;
    justify-content: center;
    border-radius: 6%;
    
}
.dest,.nove{
    height: 350px;
    
    padding: 10px 20px;
    margin: 40px;
    border-radius: 2%;

}
.dest  h3 {
    text-align: center;
    display: block;
    color: #26df05;
    font-size: 25px;
}
.contenedor-imagenes {
    display: flex;
    justify-content: center;
  }
 .contenedor-imagenes img{
    height: 300px;
    width: auto;
  }
  .nove h3{
    text-align: center;
    display: block;
    color: #26df05;
    font-size: 25px;
  }
  .cont-nove{
    margin-top: 20px;
  }
.container{
    margin: 0 auto;
    
}
.footer{
    background-color: #24262b;
    padding: 80px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 50px;
}
.footer-links h4{
    font-size: 20px;
    color: #26df05;
    margin-bottom: 20px;
    font-weight: 500;
    border-bottom: 2px solid #0f5901;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #1da805;
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
 
}
ul{
    list-style-type: none;
}
.footer-links ul li a:hover{
    color: #26df05;
    padding-left: 6px;
}
.social-links i{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #24262b;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #219709;
    transition: all .5s ease;

}
.social-links i:hover {
    background-color: #29e708;
}
.copy{
    font-size: 18px;
    color: #177c03;
}